*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
   .principal{
    display: none;
   }
   #navegar{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding: 5% 1%;
   }
   #title {
    margin-right: 30%;

   }
   .inicio{
    display: flex;
    flex-direction: column;





   }
   #imagen1 img{
    width: 60%;
    height: 70%;
    margin-left: 20%;
    

   }
   .contenido {
    padding: 5% 10%;
   }
   .btn1 {
    border-radius: 5px;
    background-color: rgb(73, 9, 156);
    border: none;
    width: 100%;
    padding: 5%;
    margin-block-end: 4%;
    margin-block-start: 4%;
    margin-top: 10%;
  
   }
   .btn1 a{
    font-family: 'Lucida Sans';
    font-size: 20px;
    color:white;
    text-decoration: none;
   }
   #titulo{
    font-weight: 350;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
   }
   #parra {
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: gray;
   }
   #link{
    margin-top: 2%;
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(73, 9, 156);

 
   }
   



   

   