*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  
}
@font-face {
   font-family: "Kumbh Sans";
   src: url("../fonts/inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
header{

    width: 100%;
    margin-top: 10%;
  
   }

   .principal{
      padding: 5% 5%;
   }

   #title{
    color: #0a0a0a;
    font-weight: 600;
    text-align: left;
    
   }
   #title-2{
    line-height: 1.5;
    color: #0a0a0a;
    font-weight: 800;
    margin-top: 10%;
    margin-bottom: 8%;
    font-family: "Kumbh Sans", sans-serif; 
    
   }
   main{
    padding: 3% 5%;

   }

   .forma{
    display: flex;
    align-content:center;
    justify-content: center;
    flex-direction: column;
    padding: 2% 5%;
    font-size: 20px;
    font-family: "Kumbh Sans", sans-serif; 
    font-weight: 600;

   }
   .forma form{
      margin-top: 8%;
    }

   .form2{
      display: none;
   }
   .input input{
    width: 100%;
    padding: 3%;
    margin-block-end: 4%;
    margin-block-start: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
    border-radius: 5px;
    border-color: aliceblue;
 
  
 }
 .input1 input{
    width: 100%;
    padding: 3%;
    margin-block-end: 5%;
    margin-block-start: 5%;
    font-family: Georgia;
    font-size: 20px;
    color: black;
    border-radius: 5px;
    border-color: aliceblue;
    
   
 }

 .caja {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    margin-top: 5%;
 }
 .caja a {
    color: rgb(82, 10, 175);
    font-weight:bold;
 }
 .caja p {
    margin-top: 6%;
    font-size: 16px;
    margin-left: 3%;
    
 }
 .caja #caja{
    width: 14%;
    margin-bottom: 3%;
    border-radius: 5px;
    border: none;

 }
.btn input {
    width: 100%;
    padding: 5%;
    margin-block-end: 4%;
    margin-block-start: 4%;
    margin-top: 10%;
    font-family: 'Lucida Sans';
    font-size: 20px;
    color: white; 
    border-radius: 5px;
    background-color: rgb(73, 9, 156);
    border: none;
  
   
}
#final{
font-size: 15px;
text-align: center;

    
}
#final a {
    color: rgb(82, 10, 175);
    text-decoration: none;
}


@media screen and (min-width:990px) {
   .principal{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
       max-width: 100vw; 

 
      
   }
   .forma{
      width: 100vmax;
      height: max-content;
      margin-bottom: 20%;
      margin-top: 2%;
      padding: 5% 5%;
     
      
   }
   .forma form #title-2 {
      padding: 10% 5%;

      
   }
   .forma form{
      width: 100%;
      height: 80%;
      margin-top: 15%;
   
   }
   #title-2{
      margin-bottom: 5%;
      font-weight:bold;
      font-family: "Kumbh Sans";
   }
 
   .form2{
    display: flex;
    background-color: blueviolet;
    width: 100vw;
    height: 100vmax;



   }
   .imagen img{
      width: 100%;
      height: 50%;
      padding: 9%    ;
      margin-top: 15%;
     
   
   }
   .imagen h1{
      color: white;
      text-align: center;
      font-weight: 800;
      font-size: 35px;

    
   }
   #parra{
      color: white;
      font-size: 20px;
      text-align: center;

      margin:  2% 20%;
   
   }
   .caja p {
      margin-top: 1%;
      font-size: 20px;
      margin-left: 3%;
      
   }
   .caja #caja{
      width: 5%;
      margin-bottom: 6%;
      border-radius: 5px;
      border: none;
  
   }
   
}